# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
.tmp

# Vite
node_modules/
.npm
build/
release/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
